<html>
<head>
  <meta charset="UTF-8">
  <title>Gooey Secret</title>
</head>
<body>

<!--   Secret page


  <form method="GET" action='/logout'>
    <input type='submit' value="Logout">
  </form>


    <ul>
    <% users.forEach(function(user) { %>
      <li>
      <%= user.username %>
      <%= user.password %>
      </li>
    <% }) %>
    </ul> -->
</body>
</html>
